// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources


// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "icon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

IDI_PNG1                RCDATA                  "icon_black.png"
IDI_PNG2                RCDATA                  "icon_white.png"
